.Comment {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  margin-left: inherit;
}

.Comment-head {
  display: flex;
  justify-content: start;
  align-items: center;
}

.Comment-author {
  margin: 0;
  margin-right: 10px;
  line-height: 14px;
  font-size: 12px;
  font-weight: 700;
}

.Comment-date {
  margin: 0;
  margin-right: 10px;
  line-height: 14px;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.Comment-text {
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
  margin: 0;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.Comment-button {
  padding: 0;
  border: none;
  background-color: inherit;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #0087e9;
}
