.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.Item__Code {
  width: 31px;
}

.Item__Title {
  flex-grow: 1;
}

.Item__Price {
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
}

.Item__Button {
  width: 80px;
  height: 21px;
  margin-left: 24px;
}
