.CommentsForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 30px;
  align-items: start;
}

.CommentsForm-title {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}

.CommentsForm-text {
  align-self: stretch;
  height: 76px;
  padding: 4px 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  resize: none;
}

.CommentsForm-button {
  min-width: 90px;
  height: 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.CommentsForm-no-auth {
  margin: 0;
  margin-top: 30px;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}

.CommentsForm-link {
  color: #0087e9;
}