.ItemPage {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.ItemPage__Item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  min-height: 21px;
}

.ItemPage__Item--Price {
  font-size: 24px;
  font-weight: 700;
}

.ItemPage__Button {
  min-width: 76px;
}